/*Colorscheme selectable via JS with smooth transition*/

html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

html/*[data-theme="light"]*/{
  --bg-color:    #fff;
  --tx-color:    #222;
  --strong-color:#000;
  --link-color:  #4b0082;
  --border-color:#eee;
/*}
html[data-theme="dark"] {
  --bg-color:    #2f2f2f;
  --tx-color:    #eee;
  --strong-color:#fff;
  --link-color:  #1eaedb;
  --border-color:#4a4a4a;*/
}
:root{
  --bg-color:    #fff;
  --tx-color:    #222;
  --strong-color:#000;
  --link-color:  #4b0082;
  --border-color:#eee;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color:    #2f2f2f;
    --tx-color:    #eee;
    --strong-color:#fff;
    --link-color:  #1eaedb;
    --border-color:#4a4a4a;
  }
}

#dark-light-switch > svg {
  fill: var(--tx-color);
}

#dark-light-switch{
  display: none;
  background: none;
  border: none;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1rem;
  /*width: 2.5em;
  height: auto;*/

  margin: 1em;
}

@media only screen{
  #dark-light-switch{
    display: inline-block;
  }
}

/* Overwrite colors to vars if supported */
body{
  color:            var(--tx-color);
  background-color: var(--bg-color);
}
.text-nodeco-black, .navbar-link{
  color:            var(--tx-color);
}
a {
  color:            var(--link-color);
}
